<div class="mt-5">
  <h2>Nosotros</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci praesentium, hic ullam velit modi ducimus voluptatum. Distinctio vitae explicabo recusandae dolore iusto similique inventore porro quasi, magnam, tempore nemo dolorem!</p>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let i of equipo, index as e">
      <h6>Nombre: {{i.nombre}}</h6>
      <h6>Nombre: {{i.especialidad}}</h6>
      <a [routerLink]="['/equipo',e]">Leer más...</a>
    </li>
  </ul>
</div>